@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Orbitron:wght@500&family=Permanent+Marker&display=swap');

:root {
    --basic-mobile-margin-bottom: 2em;
    --basic-desktop-margin-bottom: 5em;
    --contrast-basic-color: rgb(0, 0, 0);
    --hover-basic-color: hsl(0, 0%, 100%);
    --basic-color: rgb(190, 190, 190);
    --basic-text-color: rgb(255, 255, 255);

}

.container{
    width: 70%;
    display: block;
    margin: auto;
}



.parallax{
    width: 100%;
    /* The image used */
    background-image: url(../images/parallax.gif);
    /* Set a specific height */
    height: 30em;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: var(--basic-desktop-margin-bottom);
  }

p{
    font-size: 1.5em;
    color: var(--basic-text-color);
    line-height: 150%;
}

article{
    text-align: center;
    font-family: orbitron;
    margin-bottom: var(--basic-desktop-margin-bottom);
}

footer{
    text-align: center;
    margin-bottom: 5px;
}

cite{
    color: var(--basic-text-color);
}





@media (max-width: 600px){
    .parallax{
        height: 12em;
        margin-bottom: var(--basic-mobile-margin-bottom);
    }

    p{
        font-size: 1em;
    }

    article{
        margin-bottom: var(--basic-mobile-margin-bottom);
    }

    .container{
        width: 80%;
    }
}