@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Orbitron:wght@500&family=Permanent+Marker&display=swap');

:root {
    --basic-mobile-margin-bottom: 2em;
    --basic-desktop-margin-bottom: 5em;
    --contrast-basic-color: rgb(0, 0, 0);
    --hover-basic-color: hsl(0, 0%, 100%);
    --basic-color: rgb(190, 190, 190);
    --basic-text-color: rgb(255, 255, 255);

}

html{
    /* background-image: url(../images/mainBg.jpg); */
    background-attachment: fixed;
    background-image: url(../images/parallax.gif);
    background-position: center;
    background-size: cover;
    /* background-color: black; */
}

.container{
    width: 70%;
    display: block;
    margin: auto;
}



.parallax{
    width: 100%;
    background-color: transparent;
    height: 30em;

    /* margin-bottom: var(--basic-desktop-margin-bottom); */
  }

p{
    font-size: 1.5em;
    color: var(--basic-text-color);
    line-height: 150%;
}

article{
    text-align: center;
    font-family: orbitron;
    /* margin-bottom: var(--basic-desktop-margin-bottom); */
}

.blackBg{
    background-color: black;
    padding-bottom: 6em;
    padding-top: 6em;
}







@media (max-width: 600px){
    header > div > div > img{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 60%;
    }

    .parallax{
        height: 12em;
        margin-bottom: var(--basic-mobile-margin-bottom);
    }

    p{
        font-size: 1em;
    }

    .blackBg{
        padding-bottom: 4em;
        padding-top: 4em;
    }

    .container{
        width: 80%;
    }
}