:root{
    --bg-height: 75em;
    --jumbotron-half-width: 30vw;
    --jumbotron-height: auto;
    --jumbotron-margin-top: 315px;
    --jumbotron-betwen-space: 100px;
    --jumbotron-title-height: 120px;
    --jumbotron-text-padding: 10px;
    --space-betwen-main-and-footer: 10em;

    --footer-height: 10em;
}

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.absolute{
    display: flex;
    justify-content: center;
}

.stripe{
    background-color: rgb(83, 83, 83);
    height: 3.5em;
}

.trailer{
    text-decoration: none;
    position: absolute;
    top: calc(3.5em - 0.7em - 0.5em);
    left: 3em;
    background-image: linear-gradient(to top right, rgb(26, 79, 192), rgb(21, 58, 138)) ;
    padding: 0.7em;
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    z-index: 3;
    /* box-shadow: 2px 2px 0px 0.2px rgb(23, 66, 160); */

}

.trailer:hover{
    background-image: linear-gradient(to top right, rgb(21, 58, 138), rgb(11, 38, 95)) ;
}

.stripe i{
    color: rgb(255, 255, 255);
}

.stripe ul{
    position: absolute;
    top: 3em;
    right: 3em;
    display: flex;
    flex-direction: row;
    margin: 0;
    z-index: 3;
}

.stripe li{
    list-style: none;
    margin: 0 1em 0 1em;
}

.stripe2{
    background-color: rgb(56, 56, 56);
    height: 3.5em;
}

.shape{
    position: absolute;
    width: 10em;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 3em solid rgb(56, 56, 56);
    z-index: 1;
}

.Alogo{
    position: absolute;
    top: 1em;
    z-index: 2;
}

.Alogo > img{
    width: 9em;
}


.BG{
    position: absolute;
    top: 7em;
    height: var(--bg-height);
    width: 100%;
    background-image: url(../images/BlaPanBG.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

main{
    padding-bottom: var(--space-betwen-main-and-footer);
    /* height: 100%; */
    background-color: rgb(44, 44, 44);
    align-content: center;
}

#AveLogo{
    width: 60%;
}

.JUMBOTRONS{
    margin-top: calc(var(--bg-height) - var(--jumbotron-margin-top));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jumbotron{
    margin-top: var(--jumbotron-betwen-space);
    justify-content: center;
    display: grid;
    grid-template-areas:"title title"
                        "pic text";
    grid-auto-columns: var(--jumbotron-half-width);
    /* grid-auto-columns: 30vw; */
    grid-template-rows: var(--jumbotron-title-height) var(--jumbotron-height);
    /* z-index: ; */
}

.jumbotron > img{
    grid-area: pic;
    width: var(--jumbotron-half-width);
    height: var(--jumbotron-height);
    object-fit: cover;
}

.jumbotron > p{
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: var(--jumbotron-text-padding);
    padding-right: var(--jumbotron-text-padding);
    width: var(--jumbotron-half-width);
    color: white;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.774);
    line-height: 30px;
}

.jumbotron > h1{
    font-size: 2em;
    grid-area: title;
    text-align: center;
    color: rgb(211, 211, 211);
}




.options{
    margin-top: var(--jumbotron-betwen-space);
    display: grid;
    grid-template-areas:"titleop titleop titleop"
                        "op1 op2 op3";

    grid-auto-columns: 25%;
    grid-template-rows: var(--jumbotron-title-height) auto;
    justify-content: center;
}


.op{
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
    background-color: rgba(3, 20, 53, 0.774);
    border-radius: 5px;
}

.op1{
    grid-area: op1;
}

.op2{
    grid-area: op2;
}

.op3{
    grid-area: op3;
}

.options > h1{
    grid-area: titleop;
    color: rgb(223, 223, 223);
    text-align: center;
}

.op > h2, p{
    color: white;
    text-align: center;
    padding: 0 1em 0 1em;
}





.shapebottom{
    position: relative;
    /* margin-bottom: em; */
    width: 70vw;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 3em solid rgb(17, 17, 17);
    z-index: 0;
}


footer{
    background-color: rgb(17, 17, 17);
    /* height: var(--footer-height); */
    /* padding-bottom: 1em; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}

footer img{
    position: absolute;
    width: 10em;
    /* z-index: ; */

}

footer > p{
    margin: 0;
    line-height: 25px;
    max-width: 60vw;

}