@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Poppins:wght@300&display=swap');

:root{
    --bg-height: 75em;
    --jumbotron-half-width: 30vw;
    --jumbotron-height: auto;
    --jumbotron-margin-top: 315px;
    --jumbotron-betwen-space: 100px;
    --jumbotron-title-height: auto;
    --jumbotron-text-padding: 30px;
    --space-betwen-main-and-footer: 10em;

    --footer-height: 10em;
}

/* header{
    top: 0;
    position: sticky;
    z-index: 100;
} */

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
}

.center{
    display: flex;
    justify-content: center;
}

.arrow{
    text-decoration: none;
    position: absolute;
    top: calc(3.5em - 0.7em - 0.8em);
    left: 3em;
    z-index: 10;
    opacity: 0.3;
}

.arrow > img{
    height: 3em;
    
}

.arrow:hover{
    opacity: 1;
}

.trailer{
    text-decoration: none;
    position: absolute;
    top: calc(3.5em - 0.7em - 0.5em);
    right: 3em;
    background-image: linear-gradient(to top right, rgb(26, 79, 192), rgb(21, 58, 138)) ;
    padding: 0.7em;
    font-size: 1em;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(204, 204, 204);
    border-radius: 2px;
    z-index: 3;
    /* box-shadow: 2px 2px 0px 0.2px rgb(23, 66, 160); */

}

.trailer:hover{
    background-image: linear-gradient(to top right, rgb(21, 58, 138), rgb(11, 38, 95)) ;
}

.stripe{
    /* position: relative; */
    background-color: rgb(83, 83, 83);
    height: 3.5em;
    /* z-index: 2; */
}

.stripe2{
    /* position: relative; */
    background-color: rgb(56, 56, 56);
    height: 3.5em;
    /* z-index: 1; */
}

.shape{
    position: absolute;
    width: 10em;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 3em solid rgb(56, 56, 56);
    z-index: 1;
}

.Alogo{
    position: absolute;
    top: 1em;
    z-index: 2;
}

.Alogo > img{
    width: 9em;
}




main{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(180deg, rgb(17, 17, 17), rgb(71, 71, 71));
    align-content: center;
}

#AveLogo{
    position: absolute;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    top: 70%;
    left: 50%;
    width: 60%;
    z-index: 10;
}

.JUMBOTRONS{
    margin-top: calc(var(--bg-height) - var(--jumbotron-margin-top));
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    margin-top: var(--jumbotron-betwen-space);
    /* justify-content: center; */
    display: grid;
    grid-template-areas:"title title"
                        "pic text";
    grid-auto-columns: var(--jumbotron-half-width);
    grid-template-rows: var(--jumbotron-title-height) var(--jumbotron-height);
    /* grid-auto-rows: auto; */

}

.jumbotron > img{
    grid-area: pic;
    width: var(--jumbotron-half-width);
    /* width: auto; */
    height: var(--jumbotron-height);
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.jumbotron > p{
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: var(--jumbotron-text-padding);
    padding-right: var(--jumbotron-text-padding);
    /* width: var(--jumbotron-half-width); */
    width: auto;
    color: white;
    font-size: 0.8vw;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.774);
    line-height: 1.5vw;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.jumbotron > h1{
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
    grid-area: title;
    text-align: center;
    color: rgb(211, 211, 211);
    /* padding-bottom: 50px; */
}




.options{
    margin-top: var(--jumbotron-betwen-space);
    display: grid;
    grid-template-areas:"titleop titleop titleop"
                        "op1 op2 op3";

    grid-auto-columns: 25%;
    grid-template-rows: var(--jumbotron-title-height) auto;
    justify-content: center;
}


.op{
    display: flex;
    flex-direction: column;
    margin: 0 1em 0 1em;
    background-color: rgba(3, 20, 53, 0.774);
    border-radius: 5px;
}

.op1{
    grid-area: op1;
}

.op2{
    grid-area: op2;
}

.op3{
    grid-area: op3;
}

.options > h1{
    font-size: 2em;
    font-family: 'Merriweather Sans', sans-serif;
    grid-area: titleop;
    color: rgb(223, 223, 223);
    text-align: center;
}

.op > h2{
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    text-align: center;
    padding: 0 1em 0 1em;
}

.op > p{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    padding: 0 1em 1em 1em;
}

.op > img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




.shapebottom{
    width: 70vw;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 3em solid rgb(17, 17, 17);
    margin-top: var(--space-betwen-main-and-footer);
}


footer{
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    width: 10em;
    margin-bottom: 1em;
}

footer > p{
    margin: 0 0 1em 0;
    line-height: 25px;
    max-width: 60vw;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}

footer b{
    font-size: 1.2em;
}


.fab{
    height: 1.5em;
    color: white;
}

.fa-facebook-square:hover{
    color: rgb(34, 81, 211);
}

.fa-youtube:hover{
   color: red;
}

.fa-instagram:hover{
    color: rgb(176, 39, 180);
}

.SocNet{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 30vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1em 1.2em 1em 1.5em;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
}

.SocNet li{
    list-style: none;
}

.igcenter{
    margin: 1em 0 1em 0;
}



















/* CAROUSEL */


.carousel-container{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 7em;
    height: var(--bg-height);
    /* height: auto; */
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-color: rgb(34, 34, 34);
    /* background-image: url(../images/BlaPanBG.jpg); */
    /* overflow: hidden; */
    /* background-size: cover; */
    /* background-position-x: center; */
    /* background-repeat: no-repeat; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* z-index: 0; */
}

.fade > img{
    height: var(--bg-height);
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}











@media screen and (max-width: 1500px){
    :root{
        --jumbotron-half-width: 40vw;
        --bg-height: 60em;
    }

    .jumbotron > p{
        font-size: 1vw;
        line-height: 1.8vw;
    }
}


@media screen and (max-width: 1150px){
    :root{
        --jumbotron-text-padding: 15px;
        --bg-height: 50em;
    }
    .jumbotron > p{
        line-height: 2vw;
    }

    .jumbotron > h1{
        font-size: 1.5em;
    }
}
