@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Orbitron:wght@500&family=Permanent+Marker&display=swap');

:root {
    --basic-mobile-margin-bottom: 2em;
    --basic-desktop-margin-bottom: 5em;
    --contrast-basic-color: rgb(0, 0, 0);
    --hover-basic-color: hsl(0, 0%, 100%);
    --basic-color: rgb(190, 190, 190);
    --basic-text-color: rgb(255, 255, 255);

}

html{
    /* background-image: url(../images/mainBg.jpg); */
    background-attachment: fixed;
    background-image: url(../images/parallax.gif);
    background-position: center;
    background-size: cover;
}

body{
    margin: 0;
}

h2{
    font-size: 1em;
}

.container{
    width: 70%;
    display: block;
    margin: auto;
}

.active{
    color: var(--hover-basic-color);
}


.parallax{
    width: 100%;
    background-color: transparent;
    height: 30em;
  }

p{
    font-size: 1.5em;
    color: var(--basic-text-color);
    line-height: 150%;
}

article{
    text-align: center;
    font-family: orbitron;
    border-radius: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-inline: 1em;
    border-style: solid;
    border-color: var(--basic-color);
}

.blackBg{
    background-color: black;
    padding-bottom: 6em;
    padding-top: 6em;
}












nav > ul > li{
    list-style: none;
    margin: 0;
    color: var(--basic-color);
    margin-top: 1em;
}

nav > ul > li > a{
    text-decoration: none;
    padding: 5px;
    color: var(--basic-color);
    font-family: orbitron;
    font-size: 1.5em;
}

nav > ul > li > a:hover{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://thumbs.gfycat.com/ConsciousMedicalBeardedcollie-max-1mb.gif);
}


nav > ul{
    border-top: solid;
    border-color: var(--basic-color);
    border-width: thick;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--basic-color);
    padding: 0;
}


.me{
    text-align: center;
}

header > div > div > img{
    width: 25%;
    margin-top: 2em;
}




header{
    padding-bottom: 8em;
    background-color: black;
}


.flash{
    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: url(https://thumbs.gfycat.com/ConsciousMedicalBeardedcollie-max-1mb.gif);
}




footer{
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: black;
}

cite{
    color: var(--basic-text-color);
}









@media (max-width: 600px){
    header > div > div > img{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        width: 60%;
    }

    .parallax{
        height: 12em;
        margin-bottom: var(--basic-mobile-margin-bottom);
    }

    p{
        font-size: 1em;
    }

    .blackBg{
        padding-bottom: 4em;
        padding-top: 4em;
    }

    .container{
        width: 80%;
    }

    header{
        padding-bottom: 3em;
        padding-top: 0.5em;
    }

}