body{
    background-color: rgb(22, 22, 22);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    /* justify-content: center; */
    text-align: center;
}

.avengers{
    background-image: url(../images/avengers_game.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.dedsec{
    background-image: url(../images/dedsecGroup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body > a{
    align-self: center;
    width: 40%;
    height: 80vh;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 70px;
    border-width: 0.5vh;
    margin: 9.5vh 0 9.5vh 0;
    text-decoration: none;
    font-size: 5em;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
}

body > a:hover{
    border-color: rgb(255, 255, 255);
    opacity: 0.7;
    color: white;
}










@media (max-width: 1000px){
    body{
        flex-direction: column;
    }

    body > a{
        width: 80%;
    }
}

@media (min-width: 1000px) and (max-width: 1200px){
    body > a{
        font-size: 3em;
    }
}

@media (max-width: 600px){
    body > a{
        font-size: 3em;
        height: 80vw;
        margin: 5vh 0 5vh 0;
    }
}



